<div class="admin-layout">
      <!-- Sidebar -->
      <aside class="sidebar">
        <div class="logo">SOFT CLUB</div>

        <nav>
          <a routerLink="/admin" routerLinkActive="active"> Dashboard </a>

          <a routerLink="/admin/users" routerLinkActive="active"> Utilisateurs </a>

          <a routerLink="/admin/reservations" routerLinkActive="active"> Réservations </a>

          <a routerLink="/admin/events" routerLinkActive="active"> Événements </a>

          <a routerLink="/admin/menu" routerLinkActive="active"> Menu </a>

          <a routerLink="/"> Retour site </a>
        </nav>
      </aside>

      <!-- Main content -->
      <main class="content">
        <router-outlet></router-outlet>
      </main>
    </div>
